
/* body{
    animation: changeanimation 1s linear infinite;
} */

/* @keyframes changeanimation{
    0%{
        background-color: white;
    }
    20%{
        background-color: black;
    }
    40%{
        background-color: rgb(12, 16, 59);
    }
    60%{
        background-color: green;
    }
    80%{
        background-color: red;
    }
} */

body{
    background-color:rgb(214, 200, 200);
}

.img{
    width:20%;
    display:block;
    margin:auto;
    padding-bottom: 20px;
    padding-top:10px;
    border-radius:px;
}


input{
    width:80%;
    line-height:2.5em;
    border:8px groove grey;
    border-radius: 15px;
    border-top-left-radius:0px;
    margin-bottom: 25px;
    box-shadow: 8px 8px 5px rgb(36, 32, 32);
}

button{
    width:10%;
    height: 4em;
    border: 8px groove grey;
    border-radius : 15px;
    border-top-left-radius:0px;
    box-shadow: 8px 8px 5px rgb(36, 32, 32);
    margin-left:10px;

}

/* .searching{
    display:block;
    margin:auto;
} */ 

.results{
    text-align:left;
    margin-left:20px;
}

.searching{
    margin-left:30px;
}

@media only screen and (min-width:200px) and (max-width:800px){
    input{
        width:100%;
    }
    button{
        display:block;
        margin:auto;
    }
}